html {
  background-color: #4f98ca;
}

body {
  /* background-image: url("../dist/images/sticky.jpg"); */
  background-repeat: no-repeat;
  background-size: 20em 20em;
  background-position: center;
  background-position-y: 150px;
  font-family: 'Poppins', sans-serif; 
  min-height: 100vh;
  font-size: 1.5rem;
}

div {
	margin: 1% auto;
	padding: 20px 0;
	width: 600px;
	text-align: center;
	border-radius: 15px;
	background: #f2ed6f;
}


.addButton {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.addButton:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.addButton:active {
	position:relative;
	top:1px;
}

.form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 60%;
}

.form-field {
  font-family: inherit;
  width: 50%;
  border: 0;
  border-bottom: 2px solid #b80d57;
  outline: 0;
  font-size: 1.3rem;
  color: #084177;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.1s;

}

.form-label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form-field:focus {
  padding-bottom: 5px;  
  font-weight: 600;
  border-width: 3px;
  border-image: linear-gradient(to right, #b80d57,#fff);
  border-image-slice: 1;
}

.form-field{
  box-shadow:none; 
}


